.l,
.m,
.s {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #3b434e;
  margin: 0;
}
.s {
  font-size: 14px;
}
.m {
  font-size: 16px;
}
.l {
  font-size: 18px;
  line-height: 29px;
}
